<header class="flex items-center py-5 w-full xl:w-[1120px] mx-auto">
    <nav class="flex flex-row mx-auto gap-x-10 opacity-90">
        <a href="#top">Inicio</a>
        <a href="#sobre-mi">Sobre Mí</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>